<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylepaises.css">

    <title>África Desmistificada</title>
</head>

<body>
    
    <nav>
        <a class="logo" href="/home">Home</a>
        <a class="logo" href="/quemsomos">Quem Somos</a>
        <a class="logo" href="/sobre">Sobre</a>
        <a class="logo" href="/cadastro">Cadastrar</a>
    </nav>

    <header>
        <h1>Paises Africanos</h1>
    </header>
    
    <section id="pais">
        <h3>Lista de filmes:</h3>
            <section class="card">
                <article id="content">
                        <ul>
                            <li>Nome: <%= filme.nome %></li>
                            <li>Descrição: <%= filme.descricao %></li>
                            <a href="/">
                                <img src="<%= filme.imagem %>" width=200>
                            </a>
                            <a href="/deletar/<%= filme.id %>">DELETAR!</a>
                        </ul>
                </article>
            </section>
    </section>

    <script src="/js/script.js"></script>
</body>
</html>