<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylepaises.css">

    <title>África Desmistificada</title>
</head>

<body>
    
    <nav>
        <a class="logo" href="/home">Home</a>
        <a class="logo" href="/quemsomos">Quem Somos</a>
        <a class="logo" href="/sobre">Sobre</a>
        <a class="logo" href="/cadastro">Cadastrar</a>
    </nav>

    <header>
        <h1>Paises Africanos</h1>
    </header>
    <section id="detalhes">     
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Flag_of_Mozambique.svg/100px-Flag_of_Mozambique.svg.png" alt="">
        <div id="infos">
       
            <p>
                Angola é um país no sul da África, com um território que abrange praias tropicais do Atlântico, além de um sistema labiríntico de rios e desertos subsaarianos que se estende até a Namíbia. A história colonial do país se reflete em sua cozinha de influência portuguesa e em marcos históricos, como a Fortaleza de São Miguel, construída pelos portugueses em 1576 para defender a capital, Luanda. 
            </p>
<!--            
            <div id="info-datalhes"> -->
                <!-- <div class='col'> -->
                    <h4>Capital</h4>
                    <h3>
                        Maputo
                    </h3>
                    <h4>Moeda</h4>
                    <h3>
                        Meticais
                    </h3>
                <!-- </div> -->
                <!-- <div class='col'> -->
                    <h4>População</h4>
                    <h3>
                        10 339 002
                    </h3>
                    <h4>Lingua Oficial</h4>
                    <h3>
                        Português
                    </h3>
        
        </div>
    </section>
    
</body>
</html>