<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylepaises.css">

    <title>África Desmistificada</title>
</head>

<body>
    
    <nav>
        <a class="logo" href="/home">Home</a>
        <a class="logo" href="/quemsomos">Quem Somos</a>
        <a class="logo" href="/sobre">Sobre</a>
        <a class="logo" href="/cadastro">Cadastrar</a>
    </nav>

    <header>
        <h1>Todos Paises Africanos</h1>
    </header>
    <section id="paises">     
        <a class="card" href="/detalhes">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Flag_of_Angola.svg/100px-Flag_of_Angola.svg.png" alt="">
            <h2>
                Angola
            </h2>
     
        </a>
        <a class="card" href="/detalhes">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Flag_of_Mozambique.svg/100px-Flag_of_Mozambique.svg.png" alt="">
            <h2>
                Moçambique
            </h2>
            
        </a>
        <a class="card" href="/detalhes">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Flag_of_Mozambique.svg/100px-Flag_of_Mozambique.svg.png" alt="">
            <h2>
                Moçambique
            </h2>
          
        </a>
        <a class="card" href="/detalhes">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Flag_of_Mozambique.svg/100px-Flag_of_Mozambique.svg.png" alt="">
            <h2>
                Moçambique
            </h2>
          
        </a>
        <a class="card" href="/detalhes">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Flag_of_Mozambique.svg/100px-Flag_of_Mozambique.svg.png" alt="">
            <h2>
                Moçambique
            </h2>
         
        </a>
        <a class="card" href="/detalhes">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Flag_of_Mozambique.svg/100px-Flag_of_Mozambique.svg.png" alt="">
            <h2>
                Moçambique
            </h2>
        
        </a>
        <a class="card" href="/detalhes">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Flag_of_Mozambique.svg/100px-Flag_of_Mozambique.svg.png" alt="">
            <h2>
                Moçambique
            </h2>
        </a>
        <a class="card" href="/detalhes">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Flag_of_Mozambique.svg/100px-Flag_of_Mozambique.svg.png" alt="">
            <h2>
                Moçambique
            </h2>
        </a>
        <a class="card" href="/detalhes">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Flag_of_Mozambique.svg/100px-Flag_of_Mozambique.svg.png" alt="">
            <h2>
                Moçambique
            </h2>
          
        </a>
        <a class="card" href="/detalhes">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Flag_of_Mozambique.svg/100px-Flag_of_Mozambique.svg.png" alt="">
            <h2>
                Moçambique
            </h2>
          
        </a>
        <a class="card" href="/detalhes">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Flag_of_Mozambique.svg/100px-Flag_of_Mozambique.svg.png" alt="">
            <h2>
                Moçambique
            </h2>
         
        </a>
        <a class="card" href="/detalhes">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Flag_of_Mozambique.svg/100px-Flag_of_Mozambique.svg.png" alt="">
            <h2>
                Moçambique
            </h2>
        
        </a>
        <a class="card" href="/detalhes">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Flag_of_Mozambique.svg/100px-Flag_of_Mozambique.svg.png" alt="">
            <h2>
                Moçambique
            </h2>
        </a>
        <a class="card" href="/detalhes">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Flag_of_Mozambique.svg/100px-Flag_of_Mozambique.svg.png" alt="">
            <h2>
                Moçambique
            </h2>
        </a>
    </section>
    
</body>
</html>