<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylequemsomos.css">
    <title>Sobre</title>
</head>
<body>
    <nav>
        <a class="logo" href="/">Home</a>
        <a class="logo" href="/quemsomos">Quem Somos</a>
        <a class="logo" href="/sobre">Sobre</a>
        <a class="logo" href="/cadastro">Cadastrar</a>
    </nav>
    
    <header>
        <h1>Sobre o Projeto:</h1>
        
    </header>

    <section>
        <p id="sobre">Esse página web é resultado de um projeto de final do Módulo II 
            do curso de Desenvolvimento Web na BLUE, foi desenvolvido pela
             dupla de estudantes, Rodrigo Borges de 26 anos e Manuel Finda Evaristo de 22 anos. <br> <br>
            A ideia do tema surge devido a forma como o continente Africano é visto por muitos, 
            ou seja existem um certos pré-conceitos, relativamente África, pois para muitos ainda 
            acham que África é um país, isso percebe nas grande maioria das vezes que alguém fala
             sobre algum relaciona ao continente, faz-se muita generalização, do tipo "os africanos são...; lá na África vocês..." <br> <br>
            Esses tipos de perguntas e mais outras coisas, levam-nos a crer que muita gente ainda desconhece Àfrica, 
            poucos têm noção de que se trata de um continente enorme, com mais de 50 paises e com uma variedades de culturas.  <br> <br>
        Tendo em vistas os pontos acima analizados, decidimos então criar uma página com o catálogo dos paises do continente africano, 
    mostrando algumas informações básicas sobre o mesmo, acredintando que dessa forma estaremos ajudando a consruir e desconstruir ideias. </p>
    </section>
    

</body>
</html>